:root {
  --black: #3b434e;
  --light-gray: #bebebe;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #542fe9;
  --red: #fc836d;
  --green: #1dc37e;
  --light-green: #c8f8e4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
